@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Quicksand';
  color: #333;
}
.topbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.topbar h1 {
  color: #1976d2;
}
.topbar .logout {
  margin-left: auto;
}
.topbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.topbar a:hover {
  color: #1976d2;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* login page styles */

.login-page {
  max-width: 600px;
  height: 500px;
  margin: auto;
}
.login-page h1 {
  margin-left: auto;
}

/* blog previews / list */
.events-list {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.events-list:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.events-list h2 {
  font-size: 20px;
  color: #1976d2;
  margin-bottom: 8px;
}
.events-list a{
  text-decoration: none;
}

/* Day Card */
.list-header {
  display: flex;
}

.list-header .add-event-icon {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.list-header .timerange-dropdown {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #1976d2;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #1976d2;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #1976d2;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #1976d2;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}