@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Quicksand';
  color: #333;
}

.list-header {
  display: flex;
  margin: 10px 0;
}

/* Login page */
.login-page {
  max-width: 600px;
  height: 500px;
  margin: 100px auto;
  text-align: center;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.login-page h1 {
 padding: 100px 0;
}

/* Topbar */
.topbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.topbar h1 {
  color: #1976d2;
}
.buttons-container {
  display: flex;
  margin-left: auto;
}
.topbar .add-event-button {
  margin-right: 10px;
}

/* Content card */
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.timerange-dropdown {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

/* Grouping card */
.events-list {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.events-list:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.events-list h1 {
  font-size: 20px;
  color: #1976d2;
  margin-bottom: 8px;
}

/* Event Card */
.event-preview  {
  border-top: 1px solid #f2f2f2;
  margin: 15px;
}
.event-preview .list-content  {
  margin: 15px;
}
.delete-event-icon  {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

/* Create */
.create {
  max-width: 400px;
  margin: 100px auto;
  text-align: center;
  display: flexbox;
}
.create h2 {
  font-size: 30px;
  color: #1976d2;
  margin-bottom: 30px;
}
.create-event-form {
  margin: 50px;
}
.create .create-event-form > * {
  margin: 15px;
}