@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Quicksand';
  color: #333;
}
.topbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.topbar h1 {
  color: #1976d2;
}
.topbar .buttons-container {
  display: flex;
  margin-left: auto;
}
.topbar .add-event-button {
  margin-right: 10px;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* login page styles */

.login-page {
  max-width: 600px;
  height: 500px;
  margin: auto;
}
.login-page h1 {
  margin-left: auto;
}

/* Content Card styles */
.list-header {
  margin: 20px 0;
}

/* blog previews / list */
.events-list {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.events-list:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.events-list h2 {
  font-size: 20px;
  color: #1976d2;
  margin-bottom: 8px;
}
.events-list a{
  text-decoration: none;
}

/* Day Card */
.list-header {
  display: flex;
}

.list-header .delete-event-icon  {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.list-header .timerange-dropdown {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

/* Event Card */
.event-preview  {
  border-bottom: 1px solid #f2f2f2;
  margin: 25px;
}

.list-header .add-event-icon  {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.list-content  {
  margin: 15px;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #1976d2;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #1976d2;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 100px auto;
  text-align: center;
  display: flexbox;
}
.create .create-event-form {
  margin: 50px;
}
.create .create-event-form > * {
  margin: 15px;
}
.create h2 {
  font-size: 30px;
  color: #1976d2;
  margin-bottom: 30px;
}